.bg{
    min-width: 100vw;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('./../../../public/img/hero-bg.avif');
}
.two{
    min-height: 100vh;
    /* min-width: 100vw; */
    background-color: rgba(26 26 26) ;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 40px;
    color: white;

}