@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 70px;
    font-weight: 900;
}
.quote{
    word-spacing: 15px;
    letter-spacing: 2px;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    margin-bottom: 25px;
    /* border : 1px solid black; */
}
.data{
    display: grid;
    grid-template-columns: 30% 70%;
    min-width: 800px;
    min-height: 50px;
    background-color: white;
}
.search {
    display: grid;  
    grid-template-columns:10% 90%;
}
.location{
    display: grid;  
    grid-template-columns:15% 90%; 
}
.search::before{
    content: '';
    /* background-color: antiquewhite; */
    background-image: url('./../../../public/img/mg.png');
    background-position: center;
    /* background-image: url('./../../public/img/); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 12px;
}
.location::before{
    content: '';
    background-image: url('./../../../public/img/location.png');
    background-position: center;
    /* background-image: url('./../../public/img/); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
    margin-bottom: 8px;
    background-size: 25px 25px;
    /* background-image: url('./../../public/img/location.png'); */
}
input{
    border : 1px solid white;
}
.location{
    border-right: 1px solid black;
}