@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Press+Start+2P&display=swap');
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 25px;
    padding-right: 100px;
    padding-left: 100px;
    /* border : 1px solid black; */
}
.side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border : 1px solid black; */
}
.nav-links{
    color: white;
    text-decoration: none;
    font-size: 1.1  rem;
}
nav li{
    /* border : 1px solid black; */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
